
* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: space-between;
    flex-flow: column wrap;
    font-family: Helvetica;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo img {
    width:100px;
    height: 100px;
}

.links {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

a {
    text-decoration: none; 
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container-one {
    display: flex;
    justify-content: space-between;
    padding: 150px 150px 0 150px;
    flex-shrink: 0;
    gap: 35px;

}

.container-one img {
    padding-bottom: 70px;
    height: 450px;
    width: 800px;
}

.title button {
    border-radius: 8px;
    width: 110px;
    padding: 8px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    border-color: tomato;
}

h3 {
    text-align: center;
    margin-top: 80px;
    font-size: 26px;
    color: #1f2937;
}

.container-two img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 8px solid tomato;
}

.container-two {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    margin-top: 50px;
    gap: 90px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: rgb(90, 88, 88);
}

.name {
    text-align: center;
    font-weight: 700;
}

.text {
    max-width: 400px;
}

h2 {
    margin-top: 50px;
    font-style: italic;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 350px;
    justify-content: center;
    background-color: hsl(0, 17%, 92%);
    color: rgb(90, 88, 88);

}

.quote p {
    text-align: right;
    padding-top: 20px;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 300px;
    background-color: tomato;
    border-radius: 15px;
    color: white;
    padding: 70px 150px;
    margin: 150px 3
    00px;
}

.cta-info h4{
    line-height: 15px;
}

.cta button {
    color: white;
    background-color: tomato;
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px 35px;
    font-weight: bold;
    font-size: medium;
}

.footer {
    text-align: center;
    padding: 40px 0;
    
}

.header, .container-one, .footer {
    color: white;
    background-color: #1f2937;
}