
* {
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

.logo img {
    width:50%;
    height: 50%;
}

.links {
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    padding: 0 20% 0 20%;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

a {
    text-decoration: none; 
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.container-one {
    display: flex;
    justify-content: space-between;
    padding: 5% 20% 0 20%;
    gap: 50px;

}

.container-one img {
    padding-bottom: 10%;
    max-width: 200rem;
}

.title button {
    border-radius: 8px;
    width: 110px;
    padding: 8px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    border-color: tomato;
}

h3 {
    text-align: center;
    margin-top: 80px;
    font-size: 26px;
    color: #1f2937;
}

.container-two img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid tomato;
}

.container-two {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 20% 100px 20%;
    gap: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: rgb(90, 88, 88);
    text-shadow: 1px rgb(19, 18, 18);
}

.name {
    text-align: center;
    font-weight: 700;
}

.text {
    max-width: 400px;
}

h2 {
    margin-top: 50px;
    font-style: italic;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 100px 20% 100px 20%;
    justify-content: center;
    background-color: hsl(0, 17%, 92%);
    color: rgb(90, 88, 88);

}

.quote p {
    text-align: right;
    padding-top: 20px;
}

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    border-radius: 15px;
    color: white;
    padding: 70px 100px;
    margin: 150px 20%;
}

.cta button {
    color: white;
    background-color: tomato;
    border: 3px solid white;
    border-radius: 10px;
    padding: 5px 35px;
    font-weight: bold;
    font-size: medium;
}

.footer {
    text-align: center;
    padding: 40px 0;   
}

.header, .container-one, .footer {
    color: white;
    background-color: #1f2937;
}